<form action="/filmadded" method="POST" class="mx-auto w-1/2">
    <div class="flex justify-center mt-2 mb-3">
        <div class="flex justify-center w-7 relative">
            <input type="hidden" name="movieName" value="{{movieName}}">
            <button type="submit" class="relative group">
                <img src="Images/add.jpg" alt="" class="w-7">
                <span class="absolute bg-black text-white px-2 py-1 text-xs rounded-md bottom-0 right-full transform translate-y-1/4 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    Add to Watchlist
                </span>
            </button>
        </div>
    </div>
</form>