<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="bg-black min-h-screen" x-data="{ dropdownOpen: false }">

  <div id="main-div" class="min-h-full flex-column justify-space-around bg-zinc-200 rounded-3xl min-h-screen">   

    {{>LInavbar}}

    <header class="display-flex justify-space-between align-center p-2"></header>

    <main class="container container-fluid mt-5 min-h-screen">
      {{{ body }}}
    </main>

  </div>

</body>
</html>