<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
  <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body class="bg-black min-h-screen" x-data="{ dropdownOpen: false }">

  <div id="main-div" class="min-h-full flex-column justify-space-around mx-20 my-20 bg-amber-400 rounded-3xl min-h-screen">   

    <nav class="shadow-lg bg-rose-900 rounded-t-2xl">
      <div class="max-w-6xl mx-auto px-4 flex justify-between items-center py-4">
        <div class="flex items-center">
          <a href="#" class="flex items-center">
            <img src="" alt="Logo" class="h-8 w-8 mr-2" />
          </a>
        </div>
        <div class="text-orange-50 text-3xl font-bold ml-36">
          <h1>The Sequel</h1>
        </div>
        <div class="flex space-x-4">
          {{#if isauthenticated}}
            <div class="relative">
              <button type="button" class="flex ml-20 mr-10 pr-8 text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" @click="dropdownOpen = !dropdownOpen" id="user-menu-button">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg" alt="user photo">
              </button>
              <div x-show="dropdownOpen" @click.away="dropdownOpen = false" class="absolute right-0 mt-2 py-2 w-48 bg-white rounded-md shadow-lg z-10">
                <a href="/dashboard" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">Dashboard</a>
                <form action="/logout" method="POST" class="block">
                  <button type="submit" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">Sign Out</button>
                </form>
              </div>
            </div>
          {{else}}
            <a href="/login">
              <button class="text-yellow-50 py-2 px-4 rounded hover:text-emerald-500">
                Sign In
              </button>
            </a>
            <a href="/register">
              <button class="text-orange-50 py-2 px-4 rounded hover:text-emerald-500">
                Sign Up
              </button>
            </a>
          {{/if}}
        </div>
      </div>
    </nav>

    <header class="display-flex justify-space-between align-center p-2"></header>

    <main class="container container-fluid mt-5 min-h-screen">
      {{{ body }}}
    </main>

  </div>

</body>
</html>