<h1> dashboard placeholder</h1>
<form action="/film" method="POST">
<div class="movieSearch">
  <input autocomplete="off" id="movieName" name="movieName" type="text"
    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600 bg-stone-200"
    placeholder="Movie Name">
  <button type="submit">Search</button>
</div>
</form>
<form action="/logout" method="POST">
  <button type="submit">Sign Out</button>
</form>