{{!-- This is the handlebar responsible for the dashboard page. We are using tailwind CSS for the styling.--}}

{{!-- This displays the chosen username of the user  --}}
<h1 class="text-3xl font-bold mb-4">Welcome, {{ username }}!</h1>
<div class="">
  <div class="bg-red-200">
    <form action="/film" method="POST" class="mx-auto items-center">
      <div class="flex flex-col items-center bg-zinc-200 mt-20">
        <div class="movieSearch">
          <input autocomplete="off" id="movieName" name="movieName" type="text"
            class="rounded-lg peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-sky-900 bg-white"
            placeholder="Movie Name">
          <div class="flex justify-center mt-5 mb-8">
            <button type="submit" class="rounded-lg text-bold text-white border-2 p-1 bg-rose-900 border-white hover:border-rose-900">Search</button>
          </div>
        </div>
      </div>  
    </form>
  </div>
  
{{!-- This renders the search history partial handlebar --}}
{{> search-history searchHistory=searchHistory}}
