<div class="flex justify-center bg-red-500 h-auto">
    <div class="flex flex-col items-center">
        <h2 class="mb-8">
            Watch list  
        </h2>

        <ul>
            <li> 
                Batman  
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    Seen
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    Remove
                </button>

            </li>

            <li> 
                Eternel Sunshine of the Spotless Mind
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    Seen
                </button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                    Remove
                </button>
            </li>
        </ul>
    </div>
</div>