{{!-- This is the handlebar responsible for the home page. We are using tailwind CSS for the styling.--}}

<div class="justify-center">
  <h1 class="text-center mb-10 text-2xl"><strong>Welcome to your one stop Movie Review Database.</strong></h1>
</div>

<div class="justify-center flex">
  <img class="mb-10 rounded-lg justify-center" src="/images/Popcorn-reel.png" alt="popcorn and reel" />
</div>

<div>
  <p class="text-center mb-10 text-xl">Search your favourite (or hated) movies and leave your honest opinions.</p>
</div>   
   
