<div class="mb-44 justify-center">
<h1 class="text-bold text-center">SEARCH. REVIEW. SHARE.</h1>
</div>

        <section class="class=flex justify-center mt-50">
            <div class="container justify-center">
                <form id="form">         
                <div class="grid gap-4 item-start justify-center">
                    <div class="relative">
                        <div class="absolute -inset-1 rounded-lg blur opacity-75 hover:opacity-100 -inset-2 transition duration-1000"></div>
                    <!-- <img src="assets/images/Logo-image.png" class="flex container h-6 w-6 alt="icon"> -->
                    <input class="relative bg-slate-800 px-7 py-4 rounded-lg leading-none flex items-center" type="text" id="searchQuery" name="search" placeholder="" aria-label="search by movie-name">
                     </div>
                     <button id="searchBtn" class="items-center px-6 text-sm pt-1 text-white bg-slate-800 rounded-lg hover:bg-pink-800 bg-gradient">
                        <div class="flex items-center">
                          <svg width="24" height="24" fill="none" aria-hidden="true" class="mr-3 flex-none">
                            <path d="m19 19-3.5-3.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <circle cx="11" cy="11" r="6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></circle>
                          </svg>
                          <span class="align ml-8">Quick search...</span>
                        </div>
                      </button>
                    <div id="search-history-container" class="row m-0 search-history-container"></div>
                </div>
                </div>
                </form>        
            </div>  
        </section>
    </div>
   
