{{!-- This is the handlebar responsible for the home page. We are using tailwind CSS for the styling.--}}

<div class="mb-44 justify-center">
<h1 class="text-bold text-center">SEARCH. REVIEW. SHARE.</h1>
</div>
  <p>Sign in the start</p>      
</div>
   
