<h1>login placeholder</h1>
<form action="/login" method="post">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <button type="submit">Log In</button>
  </div>
</form>