<div class="min-h-screen bg-zinc-200 py-6 flex flex-col justify-center sm:py-12">
	<div class="relative py-3 sm:max-w-xl sm:mx-auto">
		{{!-- <div
			class="absolute inset-0 bg-sky-900 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
		</div> --}}
		<div class="relative px-4 py-10 bg-stone-200 shadow-lg sm:p-20 border-4 bg-orange-900">
			<div class="max-w-md mx-auto">
				<div class="flex justify-center">
					<h1 class="text-2xl font-semibold">Login</h1>
				</div>
				<div class="divide-y divide-gray-200">
					<div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
						<form action="/login" method="post">
						<div class="relative">
							<label for="email" class="text-sm"></label>
							<input autocomplete="off" id="email" name="email" type="text" class="p-1 placeholder-shown:bg-stone-200 mb-2 h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600 bg-stone-200 focus:border-amber-400" placeholder="Email Address" />
						</div>
						<div class="relative">
							<label for="password" class="text-sm"></label>
							<input autocomplete="off" id="password" name="password" type="password" class="p-1 placeholder-shown:bg-stone-200 h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600 bg-stone-200 focus:border-amber-400" placeholder="Password" />	
						</div>
						<div class="relative flex justify-center">
							<button type="submit" class="bg-rose-900 text-white mt-4 rounded-md px-2 py-1 hover:text-amber-400">Submit</button>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
