<div class="min-h-screen bg-amber-400 py-6 flex flex-col justify-center sm:py-12">
	<div class="relative py-3 sm:max-w-xl sm:mx-auto">
		<div
			class="absolute inset-0 bg-sky-900 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
		</div>
		<div class="relative px-4 py-10 bg-stone-200 shadow-lg sm:rounded-3xl sm:p-20">
			<div class="max-w-md mx-auto">
				<div>
					<h1 class="text-2xl font-semibold">Enter your details to register</h1>
				</div>
				<div class="divide-y divide-gray-200">
					<div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
					<form action="/register" method="post">
  <div class="relative">
    <label for="name" class="text-sm"></label>
    <input autocomplete="off" id="name" name="name" type="text" class="placeholder-shown:bg-stone-200 h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600 bg-stone-200 focus:border-amber-400" placeholder="Your name" />
  </div>
  <div class="relative">
    <label for="email" class="text-sm"></label>
    <input autocomplete="off" id="email" name="email" type="text" class="placeholder-shown:bg-stone-200 h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600 bg-stone-200 focus:border-amber-400" placeholder="Your email" />
  </div>
  <div class="relative">
    <label for="password" class="text-sm"></label>
    <input autocomplete="off" id="password" name="password" type="password" class="placeholder-shown:bg-stone-200 h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600 bg-stone-200 focus:border-amber-400" placeholder="Password" />
  </div>
  <div class="relative">
     <label for="confirmPassword" class="text-sm"></label>
    <input autocomplete="off" id="confirmPassword" name="confirmPassword" type="password" class="placeholder-shown:bg-stone-200 h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600 bg-stone-200 focus:border-amber-400" placeholder="Confirm Password" />
  </div>
  <div class="relative flex justify-center">
    <button type="submit" class="bg-sky-900 text-white rounded-md mt-4 px-2 py-1">Submit</button>
  </div>
</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
